.nice-select {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 40px;
  outline: none;
  position: relative;
  text-align: left !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  padding: 2px 50px 2px 20px;
  font-size: var(--input);
  background-color: var(--med-blue);
  border-radius: var(--br-default);
  display: block;
  color: var(--white);
  border: 2px solid var(--med-blue);
  width: 100%;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
.nice-select.open {
  z-index: 100;
}
.nice-select:hover {
}

/* .nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: var(--white);
} */

.nice-select:after {
  content: '';
  display: block;
  height: 7px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 10px;
  background-image: url(../images/arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nice-select.open:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  opacity: var(--opacity-disabled);
  pointer-events: none;
}
.nice-select:has(.list:empty) {
  opacity: var(--opacity-disabled);
  pointer-events: none;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: var(--med-blue);
  border-radius: var(--br-default);
  box-sizing: border-box;
  margin-top: 5px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 20;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-size: var(--button);
  line-height: var(--default-line);
  list-style: none;
  outline: none;
  padding: var(--main-btn-pad);
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: var(--schibsted);
  width: 100%;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: var(--lilac);
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

@media screen and (max-width: 900px) {
  .nice-select {
    line-height: 30px;
    padding: 2px 35px 2px 15px;
  }
  .nice-select:after {
    right: 15px;
    width: 8px;
  }
}