.wcfm-page-headig .wcfm-page-heading-text,
#wcfm-main-contentainer .wcfm-page-headig a.active .wcfmfa,
.wcfm_dashboard_membership_details,
#wcfm_page_load .wcfmfa,
#wcfm-main-contentainer .wcfm_header_panel a.active,
ul.wcfm_products_menus li a,
ul.wcfm_listings_menus li a,
#wcfm-main-contentainer .wcfm-container-box .wcfm-container .booking_dashboard_section_icon,
#wcfm-main-contentainer .wcfm_bookings_gloabl_settings,
#wcfm-main-contentainer .wcfm_gloabl_settings,
#wcfm-main-contentainer .wcfm_screen_manager_dummy,
#wcfm-main-contentainer .wcfm_screen_manager,
#wcfm-main-contentainer .woocommerce-reports-wide .postbox div.stats_range ul li.active a,
.wcfm_reports_menus li a,
#wcfm-main-contentainer .sales_schedule,
#wcfm-main-contentainer .woocommerce-exporter-wrapper .wc-progress-form-content .woocommerce-importer-done::before,
#wcfm-main-contentainer .woocommerce-exporter-wrapper .woocommerce-exporter .woocommerce-importer-done::before,
#wcfm-main-contentainer .woocommerce-exporter-wrapper .woocommerce-importer .woocommerce-importer-done::before,
#wcfm-main-contentainer .woocommerce-importer-wrapper .wc-progress-form-content .woocommerce-importer-done::before,
#wcfm-main-contentainer .woocommerce-importer-wrapper .woocommerce-exporter .woocommerce-importer-done::before,
.woocommerce-importer-wrapper .woocommerce-importer .woocommerce-importer-done::before,
.woocommerce-progress-form-wrapper .wc-progress-form-content .woocommerce-importer-done::before,
.woocommerce-progress-form-wrapper .woocommerce-exporter .woocommerce-importer-done::before,
.woocommerce-progress-form-wrapper .woocommerce-importer .woocommerce-importer-done::before,
.woocommerce-exporter-wrapper .wc-progress-steps li.done,
.woocommerce-importer-wrapper .wc-progress-steps li.done,
.woocommerce-progress-form-wrapper .wc-progress-steps li.done,
.woocommerce-exporter-wrapper .wc-progress-steps li.active,
.woocommerce-importer-wrapper .wc-progress-steps li.active,
#wcfm-main-contentainer ul.wcfm_orders_menus li a,
ul.wcfm_bookings_menus li a,
#wcfm-main-contentainer .wc_bookings_calendar_form .wc_bookings_calendar td .bookings ul li a strong,
#wcfm-main-contentainer .wc_bookings_calendar_form .tablenav .views a,
#wcfm-main-contentainer .wc_bookings_calendar_form .tablenav .date_selector a,
#wcfm-main-contentainer ul.wcfm_appointments_menus li a,
#wcfm-main-contentainer .wcfm-container-box .wcfm-container .appointment_dashboard_section_icon,
#wcfm-main-contentainer .wcfm_appointment_gloabl_settings,
#wcfm-main-contentainer .wc_appointments_calendar_form .wc_appointments_calendar td .appointments ul li a strong,
#wcfm-main-contentainer .wc_appointments_calendar_form .calendar_wrapper ul li a strong,
#wcfm-main-contentainer .wc_appointments_calendar_form .tablenav .views a,
#wcfm-main-contentainer .wc_appointments_calendar_form .tablenav .date_selector a,
#wcfm-main-contentainer .mapp-m-panel a,
#wcfm-main-contentainer .woocommerce-reports-wide .postbox div.stats_range ul li.custom.active,
#wcfm-main-contentainer .sub_checklist_toggler,
.woocommerce-progress-form-wrapper .wc-progress-steps li.active,
#wcfm-main-contentainer table thead td,
#wcfm-main-contentainer table thead th,
#wcfm-main-contentainer table tfoot td,
#wcfm-main-contentainer table tfoot th,
.wcfmmp_sold_by_wrapper a,
.wcfm-store-setup .wc-setup-steps li.active,
.wcfm-store-setup .wc-setup-steps li.done {
	color: var(--white);
	background-color: var(--lilac);
}

.woocommerce-exporter-wrapper .wc-progress-steps li.active::before,
.woocommerce-importer-wrapper .wc-progress-steps li.active::before,
.woocommerce-progress-form-wrapper .wc-progress-steps li.active::before,
.woocommerce-exporter-wrapper .wc-progress-steps li.done::before,
.woocommerce-importer-wrapper .wc-progress-steps li.done::before,
.woocommerce-progress-form-wrapper .wc-progress-steps li.done::before,
.woocommerce-exporter-wrapper .wc-progress-steps li.done::before,
.woocommerce-importer-wrapper .wc-progress-steps li.done::before,
.woocommerce-progress-form-wrapper .wc-progress-steps li.done::before,
.woocommerce-exporter-wrapper .wc-progress-steps li.done,
.woocommerce-importer-wrapper .wc-progress-steps li.done,
.woocommerce-exporter-wrapper .wc-progress-steps li.active,
.woocommerce-importer-wrapper .wc-progress-steps li.active,
.wcfm_vacation_msg,
#wcfm_auto_suggest_product_title li a:hover,
#wcfm-main-contentainer .wcfm_product_popup_button,
.wcfm-store-setup .wc-setup-steps li.active:before,
.wcfm-store-setup .wc-setup-steps li.done:before {
	background-color: var(--lilac);
}


.woocommerce-progress-form-wrapper .wc-progress-steps li.active,
.woocommerce-exporter-wrapper .wc-progress-steps li.active::before,
.woocommerce-importer-wrapper .wc-progress-steps li.active::before,
.woocommerce-progress-form-wrapper .wc-progress-steps li.active::before,
.wcfm_header_panel a.wcfm_header_panel_profile.active img,
.wcfm-store-setup .wc-setup-steps li.active,
.wcfm-store-setup .wc-setup-steps li.done,
.wcfm-store-setup .wc-setup-steps li.active:before,
.wcfm-store-setup .wc-setup-steps li.done:before {
	border-color: var(--lilac);
}

.wcfm_menu_logo h4,
.wcfm_menu_logo h4 a,
#wcfm-main-contentainer .wcfm-page-headig,
#wcfm-main-contentainer .wcfm-page-headig .wcfmfa,
.wcfm_menu_logo,
.wcfm_menu_no_logo {
	color: #ffffff;
}

#wcfm-main-contentainer .wcfm-collapse {
	background: #eceef2;
}

#wcfm_menu .wcfm_menu_items a.active::after {
	border-right-color: #eceef2;
}

.page_collapsible,
.page_collapsible label,
.collapse-close,
.wcfm-collapse a.page_collapsible_dummy {
	color: #ffffff;
}

#wcfm_menu .wcfm_menu_item span,
#wcfm_menu span.wcfm_sub_menu_items a,
.wcfm_menu_no_logo h4,
.wcfm_menu_no_logo h4 a {
	color: #ffffff;
}

#wcfm_menu .wcfm_menu_items a.active span,
#wcfm_menu .wcfm_menu_items a.active:hover span {
	color: #ffffff;
}

#wcfm-main-contentainer a.add_new_wcfm_ele_dashboard,
#wcfm-main-contentainer a.wcfm_import_export,
#wcfm-main-contentainer input.wcfm_submit_button,
#wcfm-main-contentainer button.wcfm_submit_button,
#wcfm-main-contentainer a.wcfm_submit_button,
#wcfm-main-contentainer .wcfm_add_category_bt,
#wcfm-main-contentainer .wcfm_add_attribute,
#wcfm-main-contentainer input.upload_button,
#wcfm-main-contentainer .dataTables_wrapper .dt-buttons .dt-button,
#wcfm_vendor_approval_response_button,
#wcfm_bulk_edit_button,
#wcfm_enquiry_submit_button,
#wcfm_tracking_button,
#submit-job-form input[type="submit"],
#job_preview input[type="submit"],
.wcfm-store-setup .wc-setup-actions .wcfm_submit_button {
	background: var(--lilac);
}

.wcfm-store-setup .wc-setup-actions .wcfm_submit_button {
	border-color: var(--lilac);
}

#wcfm-main-contentainer a.add_new_wcfm_ele_dashboard,
#wcfm-main-contentainer a.wcfm_import_export,
#wcfm-main-contentainer input.wcfm_submit_button,
#wcfm-main-contentainer button.wcfm_submit_button,
#wcfm-main-contentainer a.wcfm_submit_button,
#wcfm-main-contentainer .wcfm_add_category_bt,
#wcfm-main-contentainer .wcfm_add_attribute,
#wcfm-main-contentainer input.upload_button,
#wcfm-main-contentainer .dataTables_wrapper .dt-buttons .dt-button,
#submit-job-form input[type="submit"],
#job_preview input[type="submit"],
.wcfm-store-setup .wc-setup-actions .wcfm_submit_button {
	color: var(--white);
}